## HPC Lab-3  
Name: Tanvi Penumudy

Enroll No: E18CSE187

1. Data Preprocessing

In [57]:
import multiprocessing 
import os

In [103]:
multiprocessing.cpu_count()

2

In [58]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00526/data.zip

--2021-01-27 04:17:58--  https://archive.ics.uci.edu/ml/machine-learning-databases/00526/data.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 116104947 (111M) [application/x-httpd-php]
Saving to: ‘data.zip’

data.zip            100%[===================>] 110.73M  46.9MB/s    in 2.4s

2021-01-27 04:18:00 (46.9 MB/s) - ‘data.zip’ saved [116104947/116104947]

In [59]:
!unzip "data.zip" -d /tmp

Archive:  data.zip
replace /tmp/BitcoinHeistData.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /tmp/BitcoinHeistData.csv

In [60]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

In [61]:
data = pd.read_csv('/tmp/BitcoinHeistData.csv')

In [62]:
data = data.sample(frac=1).reset_index(drop=True)

In [63]:
print(data.shape)
data.head()

(2916697, 10)

                              address  year  ...        income  label
0  13TN2XHZ3J11cVCRW31ApFPkNvK3Cs16BG  2015  ...  6.264476e+10  white
1  1GY8sgbnBKKHd2rn9WPrfiSu1vdPN5BCqZ  2015  ...  1.814030e+09  white
2  1CLZEMoCaKAgaqbWUkJ4H5uBkUn36BEjrN  2014  ...  3.103461e+07  white
3  18pKnTN1icYiyErX8dNiWPHF72AQoUFMWN  2016  ...  1.177438e+10  white
4  19c3TNkbAUSBinBDicjr2zxc7pVNRLss7z  2012  ...  3.600000e+08  white

[5 rows x 10 columns]

In [64]:
data.isna().sum()

address      0
year         0
day          0
length       0
weight       0
count        0
looped       0
neighbors    0
income       0
label        0
dtype: int64

In [65]:
data['address'].value_counts()

1LXrSb67EaH1LGc6d6kWHq8rgv4ZBQAcpU    420
16cVG72goMe4sNqZhnpmnqfCMZ1uSFbUit    261
12wQZTDmA8onM3sEt4jwcvzDxnNXxD8Vza    207
12YursV58dRT2c9iuZg3jEWfwgTDamBcnd    183
1LEq4WmpCrqBd7V3PywE2nvFUFC3QTe52x    176
                                     ...
1Fehjr9b335GaYQVfJKrQrK18eRaKCQUsv      1
1CATCf434hdf1CME8s8VqLi8QMSFJhxKdS      1
1FX4BGYdhcuEb7evp6RjX91V1sE3ESfZNW      1
1DJajDjZXpXmo6E3Fu1gEtbJgNgnMwS52v      1
1H2qbu7VDbw8UX6P7x5u44v31jtxFnfLfw      1
Name: address, Length: 2631095, dtype: int64

In [66]:
data.address.unique().shape

(2631095,)

In [67]:
data['label'].value_counts()

white                          2875284
paduaCryptoWall                  12390
montrealCryptoLocker              9315
princetonCerber                   9223
princetonLocky                    6625
montrealCryptXXX                  2419
montrealNoobCrypt                  483
montrealDMALockerv3                354
montrealDMALocker                  251
montrealSamSam                      62
montrealGlobeImposter               55
montrealCryptoTorLocker2015         55
montrealGlobev3                     34
montrealGlobe                       32
montrealWannaCry                    28
montrealRazy                        13
montrealAPT                         11
paduaKeRanger                       10
montrealFlyper                       9
montrealXTPLocker                    8
montrealVenusLocker                  7
montrealCryptConsole                 7
montrealXLockerv5.0                  7
montrealEDA2                         6
montrealJigSaw                       4
paduaJigsaw                          2
montrealXLocker                      1
montrealComradeCircle                1
montrealSam                          1
Name: label, dtype: int64

In [68]:
LE = LabelEncoder()
CateList = data.select_dtypes(include="object").columns
print(CateList)

Index(['address', 'label'], dtype='object')

In [69]:
for i in CateList:
    data[i] = LE.fit_transform(data[i])
data.head()

   address  year  day  length  ...  looped  neighbors        income  label
0   158444  2015  361     104  ...       0          2  6.264476e+10     28
1  1513907  2015   39     144  ...    1108          2  1.814030e+09     28
2  1077176  2014  204      38  ...      13          2  3.103461e+07     28
3   710765  2016  143       0  ...       0          2  1.177438e+10     28
4   792982  2012  226       6  ...       0          2  3.600000e+08     28

[5 rows x 10 columns]

In [70]:
df = data.iloc[:,:-1]
mm = MinMaxScaler()
df[:]= mm.fit_transform(df[:])

In [71]:
df.head()

    address      year       day  ...    looped  neighbors        income
0  0.060220  0.571429  0.989011  ...  0.000000   0.000077  1.253188e-03
1  0.575391  0.571429  0.104396  ...  0.076435   0.000077  3.570605e-05
2  0.409402  0.428571  0.557692  ...  0.000897   0.000077  2.070690e-08
3  0.270140  0.714286  0.390110  ...  0.000000   0.000077  2.350550e-04
4  0.301389  0.142857  0.618132  ...  0.000000   0.000077  6.604707e-06

[5 rows x 9 columns]

In [72]:
X = df.values
y = data['label'].values

In [73]:
X_shape = X.shape
X_type  = type(X)
y_shape = y.shape
y_type  = type(y)
print(f'X: Type-{X_type}, Shape-{X_shape}')
print(f'y: Type-{y_type}, Shape-{y_shape}')

X: Type-<class 'numpy.ndarray'>, Shape-(2916697, 9)
y: Type-<class 'numpy.ndarray'>, Shape-(2916697,)

In [78]:
print(LE.classes_.shape)
LE.classes_

(29,)

array(['montrealAPT', 'montrealComradeCircle', 'montrealCryptConsole',
       'montrealCryptXXX', 'montrealCryptoLocker',
       'montrealCryptoTorLocker2015', 'montrealDMALocker',
       'montrealDMALockerv3', 'montrealEDA2', 'montrealFlyper',
       'montrealGlobe', 'montrealGlobeImposter', 'montrealGlobev3',
       'montrealJigSaw', 'montrealNoobCrypt', 'montrealRazy',
       'montrealSam', 'montrealSamSam', 'montrealVenusLocker',
       'montrealWannaCry', 'montrealXLocker', 'montrealXLockerv5.0',
       'montrealXTPLocker', 'paduaCryptoWall', 'paduaJigsaw',
       'paduaKeRanger', 'princetonCerber', 'princetonLocky', 'white'],
      dtype=object)

In [88]:
# Converting Multi-Class to Binary Classification Problem 
for i in range(y.shape[0]):
  if(y[i] == 28):
    y[i] = 0
  else:
    y[i] = 1

In [91]:
np.unique(y)

array([0, 1])

In [107]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=123)

In [108]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(1458348, 9) (1458348,)
(1458349, 9) (1458349,)

2. AI/Machine Learning/Deep Learning Model Training

In [94]:
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier

In [95]:
from sklearn.externals import joblib

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [97]:
%%time 
# importing the multiprocessing module 
import multiprocessing 
import os 

def worker1(X_train, y_train):
  model1 = DecisionTreeClassifier(criterion="entropy").fit(X_train, y_train)
  joblib.dump(model1, 'model1.pkl') 
  print("Done!")
def worker2(X_train, y_train):
  model2 = MLPClassifier().fit(X_train, y_train)
  joblib.dump(model2, 'model2.pkl') 
  print("Done!")

if __name__ == "__main__": 
  # printing main program process id 
  print("ID of main process: {}".format(os.getpid())) 

  # creating processes 
  p1 = multiprocessing.Process(target=worker1) 
  p2 = multiprocessing.Process(target=worker2) 

  # starting processes 
  p1.start() 
  p2.start() 

  # process IDs 
  print("ID of process p1: {}".format(p1.pid)) 
  print("ID of process p2: {}".format(p2.pid)) 

  # wait until processes are finished 
  p1.join() 
  p2.join() 

  # both processes finished 
  worker1(X_train, y_train)
  worker2(X_train, y_train)
  print("Both processes finished execution!")

ID of main process: 65

Process Process-3:
Traceback (most recent call last):
  File "/usr/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/usr/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
Process Process-4:
Traceback (most recent call last):
  File "/usr/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/usr/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
TypeError: worker2() missing 2 required positional arguments: 'X_train' and 'y_train'
TypeError: worker1() missing 2 required positional arguments: 'X_train' and 'y_train'

ID of process p1: 589
ID of process p2: 592
Done!
Done!
Both processes finished execution!
CPU times: user 8min 9s, sys: 6min 16s, total: 14min 26s
Wall time: 7min 32s

3. AI/Machine Learning/Deep Learning Model Testing

In [127]:
%%time 
# importing the multiprocessing module 
import multiprocessing 
import os 

def worker1(X_test):
  model1 = joblib.load('model1.pkl')
  pred1 = model1.predict_proba(X_test)
  print("Done!")
  return pred1
def worker2(X_test):
  model2 = joblib.load('model2.pkl')
  pred2 = model2.predict_proba(X_test)
  print("Done!")
  return pred2

if __name__ == "__main__": 
  # printing main program process id 
  print("ID of main process: {}".format(os.getpid())) 

  # creating processes 
  p1 = multiprocessing.Process(target=worker1) 
  p2 = multiprocessing.Process(target=worker2) 

  # starting processes 
  p1.start() 
  p2.start() 

  # process IDs 
  print("ID of process p1: {}".format(p1.pid)) 
  print("ID of process p2: {}".format(p2.pid)) 

  # wait until processes are finished 
  p1.join() 
  p2.join() 

  # both processes finished 
  pred1 = worker1(X_test)
  pred2 = worker2(X_test)
  print("Both processes finished execution!")

ID of main process: 65

Process Process-9:
Process Process-10:
Traceback (most recent call last):
  File "/usr/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
Traceback (most recent call last):
  File "/usr/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/usr/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
TypeError: worker1() missing 1 required positional argument: 'X_test'
TypeError: worker2() missing 1 required positional argument: 'X_test'

ID of process p1: 912
ID of process p2: 915
Done!
Done!
Both processes finished execution!
CPU times: user 11.2 s, sys: 1.87 s, total: 13 s
Wall time: 7 s

In [128]:
len = y_test.shape[0]
len

1458349

In [131]:
# Average Voting
y_final = []
for i in range(len):
  y_final.append((pred1[i]+pred2[i])/2)

In [138]:
y_pred = []
for i in y_final:
  i = i.tolist()
  y_pred.append(i.index(max(i)))

In [140]:
from sklearn.metrics import accuracy_score

In [141]:
acc = accuracy_score(y_test, y_pred)

In [143]:
print("Final Accuracy (Average Score of Predict_Proba of both Models):",acc)

Final Accuracy (Average Score of Predict_Proba of both Models): 0.980272211932809